<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        android:theme="@style/Theme.AppCompat.DarkActionBar"
        <activity android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pag_2"
            android:exported="true"
            >
        </activity>


        <activity android:name=".Pag_3"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_4"
            android:exported="true"
         >
        </activity>
        <activity android:name=".Pag_6"
            android:exported="true"
            >
        </activity>
        <activity android:name=".Pag_5"
            android:exported="true"
            >
        </activity>
        <activity android:name=".Pag_7"
            android:exported="true"
            >
        </activity>
        <activity android:name=".Pag_8"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_9"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_10"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_11"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_12"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_13"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_14"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_15"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_16"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_17"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_18"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_19"
            android:exported="true"
            >
        </activity>
        <activity android:name=".Pag_20"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_21"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_22"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_23"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_24"
            android:exported="true"
            >
        </activity>

        <activity android:name=".Pag_25"
            android:exported="true"
            >
        </activity>







    </application>

</manifest>